body {
    background-image: url("../../img/bg.jpg");
    background-size: cover;
}

.navbar {
    background: rgb(225, 225, 225, 0.2) !important;
    box-shadow: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(225, 225, 225, 0.25);
    border-top: 1px solid rgba(255, 225, 255, 0.5);
    border-left: 1px solid rgba(255, 225, 255, 0.5);
}

.card {
    background: rgb(225, 225, 225, 0.2) !important;
    box-shadow: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(225, 225, 225, 0.25);
    border-top: 1px solid rgba(255, 225, 255, 0.5);
    border-left: 1px solid rgba(255, 225, 255, 0.5);
}

.list-group-item {
    background: rgb(225, 225, 225, 0.2) !important;
    box-shadow: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(225, 225, 225, 0.25);
    border-top: 1px solid rgba(255, 225, 255, 0.5);
    border-left: 1px solid rgba(255, 225, 255, 0.5);
}